<div class="container  mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form [formGroup]="editUserForm">
                    <h4 class="card-header">
                        Editar Usuario
                    </h4>
                    <div class="card-body">
                        <h6 class="card-title">
                            id ({{userEdit.id}})
                        </h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Nombre completo</label>
                                    <input type="text" class="form-control" formControlName="fullName" [class.is-invalid]="fullName.touched && fullName.hasError('required')">
                                    <div class="invalid-feedback" *ngIf="fullName.touched && fullName.hasError('required')">
                                        Requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Correo electr&oacute;nico</label>
                                    <input type="text" class="form-control" formControlName="email" [class.is-invalid]="(email.touched && fullName.hasError('required')) || email.hasError('email')">
                                    <div class="invalid-feedback" *ngIf="email.touched && email.hasError('required')">
                                        Requerido
                                    </div>
                                    <div class="invalid-feedback" *ngIf="email.hasError('email')">
                                        Correo electr&oacute;nico inv&aacute;lido
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Fecha de nacimiento</label>
                                    <input type="date" class="form-control" formControlName="birthday" [class.is-invalid]="(birthday.touched && birthday.hasError('required'))">
                                    <div class="invalid-feedback" *ngIf="birthday.touched && birthday.hasError('required')">
                                        Requerido
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">N&uacute;mero de tel&eacute;fono</label>
                                    <input mask="(000) 000-0000" type="text" class="form-control" formControlName="phoneNumber" [class.is-invalid]="(phoneNumber.touched && phoneNumber.hasError('required')) || phoneNumber.hasError('minlength')">
                                    <div class="invalid-feedback" *ngIf="phoneNumber.touched && phoneNumber.hasError('required')">
                                        Requerido
                                    </div>
                                    <div class="invalid-feedback" *ngIf="phoneNumber.hasError('minlength')">
                                        Debe tener al menos 10 digitos
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Genero</label>
                                    <select class="form-control" formControlName="genre" [class.is-invalid]="(genre.touched && genre.hasError('required'))">
                      <option value="" selected="true">[Seleccione el genero]</option>
                      <option value="1">Masculino</option>
                      <option value="2">Femenino</option>
                    </select>
                                    <div class="invalid-feedback" *ngIf="genre.touched && genre.hasError('required')">
                                        Requerido
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary" (click)="edit(editUserForm)" [disabled]="editUserForm.invalid">Guardar</button>
                                <button type="button" class="btn btn-danger ml-3" routerLink="/list">Cancelar</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>