<app-navbar></app-navbar>
<div class="jumbotron">
    <h1 class="display-5">Proyecto del Equipo de Angular</h1>
    <p class="lead">
        Hemos utilizado Angular en el Frontend y .NET en el Backend.
    </p>
    <hr class="bg-danger my-4" />

    <div class="list-group col-lg-4">
        <a href="https://discord.com/channels/709573841118167071/710900087819206696" class="list-group-item list-group-item-action active">
            Integrantes del Equipo Angular
        </a>
        <a href="https://discordapp.com/users/476574369229832203" class="list-group-item list-group-item-action">@Lleoz</a>
        <a href="https://discordapp.com/users/335850826318741506" class="list-group-item list-group-item-action">@josue.samano</a>
        <a href="https://discordapp.com/users/683745689892815043" class="list-group-item list-group-item-action">@Vladimir Cabrera</a>
        <a href="https://discordapp.com/users/702955480267358329" class="list-group-item list-group-item-action">@Romer</a>
        <a href="https://discordapp.com/users/717776768244908053" class="list-group-item list-group-item-action">@portusan</a>
        <a href="https://discordapp.com/users/201813752356536320" class="list-group-item list-group-item-action">@RiojasMx</a>
        <a href="https://discordapp.com/users/716354253081542666" class="list-group-item list-group-item-action">@programando.ideas</a>
    </div>
</div>
<app-footer></app-footer>